<section class="gh-canvas">
    <header class="gh-canvas-header">
        <h2 class="gh-canvas-title">插入代码</h2>
        <section class="view-actions">
            {{gh-task-button task=save class="gh-btn gh-btn-blue" data-test-save-button=true}}
        </section>
    </header>

    <section class="view-continer">
        <form id="settings-code" novalidate="novalidate">
            <fieldset>
                <p>
                    您将代码注入主题文件的顶部和底部，而无需修改主题。 这样可以简便的帮你个性化配置您的网站。
                </p>

                <div class="form-group settings-code">
                    <label for="ghost-head">博客头部</label>
                    <p>这里的代码将插在网站头部</p>
                    {{gh-cm-editor model.ghost_head id="ghost-head" class="gh-input settings-code-editor" name="codeInjection[ghost_head]" type="text" update=(action (mut model.ghost_head))}}
                </div>

                <div class="form-group settings-code">
                    <label for="ghost-foot">博客尾部</label>
                    <p>这里的代码将插在网站尾部</p>
                    {{gh-cm-editor model.ghost_foot id="ghost-foot" class="gh-input settings-code-editor" name="codeInjection[ghost_foot]" type="text" update=(action (mut model.ghost_foot))}}
                </div>
            </fieldset>
        </form>
    </section>
</section>
