<footer class="footer_magnum">
	<div class="footertext_magnum">
		All content copyright <a href="/">{{@blog.title}}</a> &copy; 2017 &bull; All rights reserved.
	</div>
	<div class="footertext_magnum">
		Powered by <a href="https://github.com/PUGE" target="_blank">PUGE</a> & Topic name <span style="color: blue;">Blues</span>
	</div>
</footer>
