<header>
    <h1>欢迎使用!</h1>
    <p>OWO是一个简洁快速的博客系统，您可以通过它轻松的管理和发布文章并和世界上的人分享.</p>
</header>

<figure class="gh-flow-screenshot">
    <img src="{{gh-path 'admin' 'img/install-welcome.png'}}" alt="Ghost screenshot" />
</figure>

{{#link-to "setup.two" classNames="btn btn-green btn-lg"}}
   创建账号 <i class="icon-chevron"></i>
{{/link-to}}
